
div.menu{
    display: block; 
    background-color: black;
    margin: 10px;
    padding-left: 30px;
    height: 30px;
}
ul{
    display: inline;
    list-style: none; 
    color: white; 
    
}
li {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    line-height: 30px;
    
}
li.trai{
   float: right;
}
li:hover{
    background-color:white;
    color: black;
    cursor: pointer;
}
.bottom
{
    margin: 10px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(4, minmax(200px,1fr));
    background-color: whitesmoke;
    gap: 10px;
}
.first >p, .second > p{
    font-size: 10px;
}
.first
{
    grid-row: 1 / 3;
}
.second{
    grid-row: 3 / 5;
    grid-column: 1;
}
.item{
    background-color: white;
}
.popular{
    grid-row: 2 / 4;
}
.follow{
    grid-column: 2 ;
    height: 40%;
}